.about {
    display: block;
    justify-content: center;
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 60px;
    color: antiquewhite;
    text-align: justify;
    font-size: 1rem;
    z-index: 2;
    margin-bottom: 50px;
    scrollbar-color: none;
}

.biographyContent {
  padding: 40px;
}

.biographyParagraph {
    overflow-clip-margin: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: antiquewhite;

}

.biographyPaper {
    border-radius: 25px;
    background-color: black;
    color: antiquewhite;
    border: solid 3px peru;
    width: 100%;
    height: 80vh;
    box-shadow: 2px 2px 2px 2px rgba(128, 114, 102, 0.787);
    padding: 10%;
    overflow-y: scroll;
    scrollbar-width: none;
    
}

.heading {
    display: flex;
    justify-content: left;
    color: antiquewhite;
    text-decoration: none;
    font-family: BigShoulder;
    font-size: 50px;
    padding: 30px;
}

.name {
    width: 100%;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: left;
}

.box {
    margin: 0;
}