Body {

  background-color: black !important;
  width: 100vw;
  height: 100vh;
  color: #faebd7 !important;

}

/* other colour ideas from swatches 

#CF8740
#CC6960
#AC5B7B
#7B5883
#4A5375
#2F4858

*/