.tourContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
    background-color: #4A5375;

}

.tourTitle {
    height: 100px;
    padding: 30px;
}

.tourImgDiv {
    width: 100vw;
    height: 100px;
    border-bottom: grey 10px dashed;
}

.tourBusImg {
    width: 100px;
    height: auto;
}

.showRow {
    width: 100%;
    height: 13vh;
    background-color: #AC5B7B;

}

th {
    justify-content: left;
    text-align: left;
    padding: 10px;

}

.tableContainer {
    width: 100%;
    color: antiquewhite;
    padding: 20px;
    font-size: 2.5vw;

}

.tourBtn {
    width: 100% !important;
    height: 100%;
    border-radius: 15px;
    border: 3px solid peru;
    text-align: center;
    cursor: pointer;
}

a {
    color: peru;
    text-decoration: none;
}

.notTouring {
    font-size: 2.5vw;
    font-family: 'Courier New', Courier, monospace;
    text-justify: center;
    justify-content: center;
    text-align: center;
}