.tourContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    flex-direction: column;
    overflow: hidden;
    font-family: "Courier New", Courier, monospace;
    background-color: #4a5375;
}

.tourTitle {
    height: 100px;
    padding: 30px;
}

.tourImgDiv {
    width: 100vw;
    height: 100px;
    border-bottom: grey 10px dashed;
}

.tourBusImg {
    width: 100px;
    height: auto;
}

.showRow {
    width: 100%;
    height: 13vh;
    background-color: antiquewhite;
}

th {
    justify-content: left;
    text-align: left;
    padding: 10px;
}

.tableContainer {
    width: 100%;
    color: #2d3449;
    padding: 20px;
    font-size: 2.5vw;
}

.tourBtn {
    width: 100% !important;
    height: 100%;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
}

a {
    color: antiquewhite;
    text-decoration: none;
}

a:hover {
    color: peru;
}

.notTouring {
    font-size: 2.5vw;
    font-family: "Courier New", Courier, monospace;
    text-justify: center;
    justify-content: center;
    text-align: center;
}

th.link {
    background-color: #2d3449;
    padding: 20px;
    padding-bottom: 55px;
}
