.absoluteBox {
    width: 100%;
    display: flex;
    justify-content: center;

}

.formOuterBox {
    width: 70%;
    height: auto;
    justify-content: center;
    border: solid pink 2px;
    background-color: lavender;
    text-align: center;
    padding: 10px;

}

.formElements {
    color: #776c6c;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.formValue {
    color: lightgray;
}

input[type=text],
[type=email],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    z-index: 1000;
}

input[type=submit] {

    padding: 12px 20px;
    color: #776c6c;
    z-index: 1000;

}

.css-18rm664-MuiButtonBase-root-MuiIconButton-root {
    color: antiquewhite !important;
}