.footerContainer {
    display: block;
    justify-content: space-evenly;
    align-content: center;
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 0.7;
    padding: 35px 35px;
    text-decoration: none;
    color: grey;
    text-align: center;
}

.columnOne {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
}

.columnOneContact {

    display: flex;
    flex-direction: row;
    padding: 5px;
    font-size: 40px;
    width: 100%;
    list-style-type: none;
    color: antiquewhite;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: space-evenly;
}

.contactListItem,
.icon {
    padding: 2px;
    color: antiquewhite;
    text-decoration: none;
}

.columnTwo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-decoration: none;
    color: grey;
}

.button {
    list-style-type: none;
    padding: 15px;
    border-radius: 25px;
    width: 150px;
    text-decoration: none;
    color: antiquewhite;
    justify-Content: center;
}


.columnFour {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #403434;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex-wrap: wrap;
    padding: 20px;
}

@media (max-width: 640px) {
    .footerContainer {
        flex-direction: column;
        /* Stack elements */
        align-items: center;
        /* Center all content */
        text-align: center;
        /* Center text content */
        padding: 20px;
    }

    .columnOne,
    .columnTwo,
    .columnThree,
    .columnFour {
        width: 100%;
        display: flex;
        flex-direction: column;
        /* Ensure each section stacks */
        align-items: center;
        /* Center items */
        text-align: center;
        /* Center text */
        margin-bottom: 15px;
        /* Add spacing between sections */
    }

    .columnOneNav,
    .columnOneContact {
        flex-direction: row;
        /* Stack items inside */
    }
}