.blogs {
    padding-top: 60px;
}

.title {
    display: flex;
    justify-content: left;
    width: 100%;
    font-family: BigShoulder;
    font-size: 50px;
    background-color: peru;
    color: antiquewhite;
    padding: 30px;
    text-align: justify;
    margin: 0;
}

.blogAction {
    font-family: 'Courier New', Courier, monospace;
    background-color: peru;
    color: antiquewhite;
    text-align: right;
    width: 100%;
    height: 100%;
    margin: 0;
    font-weight: bold;
    font-size: x-large;
    padding-right: 30px;
}

.record {
    position: relative;
    background: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 5px 5px rgb(64, 38, 38);
}

.centerHole {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
    background-position: right bottom;
    background-repeat: no-repeat;
}

.groove {
    position: absolute;
    border-radius: 50%;
    border: 0.2px solid gray;
}

.blogContainer {
   
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-gap: 20px;
    width: 100vw;
    height: auto;
    background-color: peru;
    color: hsl(0, 34%, 86%);
    overflow-x: auto;
    overflow-y: scroll;
    white-space: wrap;
    direction: ltr;
    padding: 20px;
    scroll-behavior: smooth;
    gap: 20px;
    justify-content: center;
}

@media (min-width: 800px) {
    .blogContainer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
        grid-gap: 20px;
    }
}

.blogContainer::-webkit-scrollbar {
    display: none;
}

.blogItem {
    flex-shrink: 0;
    width: 350px;
    display: flex;
   
    margin: 10px;
    justify-self: center;
}


.flip-card-container {

    width: 350px;
    /* Match the record size */
    height: 350px;
    white-space: wrap;
}


.flip-card {
    position: relative;
    width: 350px;
    height: 350px;
    transition: transform 0.8s ease-in-out;
    transform-style: preserve-3d;
}

.flip-card-container:hover .flip-card {
    transform: rotateY(180deg);
    /* <=>  rotateY(.5turn) */
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    box-shadow: 10px 5px 5px rgb(64, 38, 38);
}

/* Front (Record) */
.flip-card-front {
    background: black;
}

/* Back (Text Content) */
.flip-card-back {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: black;

    transform: rotateY(180deg);
    flex-direction: column;
    padding: 15px;
    text-wrap: wrap;
}

.flip-card-back h2 {
    font-size: 1.2rem;
    color: peru;
    text-wrap: wrap;
}

.flip-card-back-title .blogTitle {

    font-family: BigShoulder;
    color: peru;
    text-wrap: wrap;
    overflow-wrap: break-word;
    white-space: normal;
    overflow: contain;

}

.flip-card-back p {
    font-size: 1.1rem;
    font-family: 'Courier New', Courier, monospace;
    color: antiquewhite;
    text-wrap: wrap;
    white-space: normal;
    /* Ensures text wraps */
    word-wrap: break-word;
    /* Breaks long words if needed */
    overflow-wrap: break-word;
    /* Ensures breaking happens inside the div */
}

.read-more {
    margin-top: 10px;
    padding: 8px 12px;
    background: antiquewhite;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;

}

/*blogModal CSS*/

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.modalContainer {
    position: fixed;
    display: flex;
    background-color: transparent;
    justify-content: center;
    z-index: 3000;
    transition: height, width 0.5s;
    align-items: center;
}

.blogModal {
    margin-top: 50px;
    max-height: 100vh;
    border: 2.5px solid rgb(43, 42, 42);
    aspect-ratio: 1 / 1;
    background-color: rgba(24, 23, 23, 0.896);
    box-shadow: 10px 5px 5px rgb(32, 29, 29);
    font-family: 'Courier New', Courier, monospace;
    color: antiquewhite;
    overflow-x: scroll;
    overflow-y: scroll;
    scrollbar-color: transparent;
    scrollbar-width: none;
    justify-content: center;
    align-items: center;
    padding: 50px;
    transform: (-50%, -50%);
    text-wrap: wrap;
}

.closeIcon {
    position: absolute;
    width: 2em !important;
    height: 2em !important;
    cursor: pointer;
    color: antiquewhite;
}


.closeIconBox,
.picBox {
    display: flex;
    width: 100%;
    justify-content: center;
}

.blogTitle {
    text-align: center;
    font-family: BigShoulder;
    color: peru;
    padding: 10px;
}

.blogArticle .blogDate p {
    text-align: justify;
    margin: 5px;
}

.blogArticle {
    text-align: justify;
    padding: 15px;

}

.pic {
    width: auto;
    height: auto;
    margin-top: 100px;
}

.blogLinkBox {
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    color: grey;
    margin-top: 30px;
    padding: 8px 12px;
    cursor: pointer !important;
    justify-content: center;

}

.blogLink {
    background-color: white;
    list-style-type: none;
    padding: 15px;
    border-radius: 20%;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    width: 100px;
    text-decoration: none !important;
    color: grey;
}

.blogDateBox {
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    color: grey;
    margin-top: 10px;
    justify-content: center;

}

@media (max-width: 768px) {
    .flip-card-back {
        width: 100%;
        /* Adjust width to fit content */
        font-size: 14px;
        /* Reduce font size if necessary */
    }
}

@media (max-width: 700px) {
    .blogModal {
        min-width: 100vw;
        /* Adjust width to fit content */

    }
}