.title {
    display: flex;
    justify-content: left;
    width: 100%;
    background-color: rgb(209, 134, 134);
    color: hsl(0, 34%, 86%);
    padding: 30px;
    text-align: justify;
    margin: 0;
}

.record {
    position: relative;
    background: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 5px 5px rgb(64, 38, 38);
}

.centerHole {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
    background-position: right bottom;
    background-repeat: no-repeat;
}

.groove {
    position: absolute;
    border-radius: 50%;
    border: 0.2px solid gray;
}

.blogContainer {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgb(209, 134, 134);
    color: hsl(0, 34%, 86%);
    overflow: scroll;
    direction: ltr;
    padding: 30px;

}

.blogItem {
    padding: 10px;
}

.blogs {

    background-color: rgb(209, 134, 134);

}

.flip-card-container {
    perspective: 1000px;
    width: 350px;
    /* Match the record size */
    height: 350px;
    display: inline-block;
    margin: 10px;
}


.flip-card {
    position: relative;
    width: 350px;
    height: 350px;
    transition: transform 0.8s ease-in-out;
    transform-style: preserve-3d;
}

.flip-card-container:hover .flip-card {
    transform: rotateY(180deg);
    /* <=>  rotateY(.5turn) */
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
}

/* Front (Record) */
.flip-card-front {
    background: black;
}

/* Back (Text Content) */
.flip-card-back {
    background: black;
    color: lightgrey;
    transform: rotateY(180deg);
    flex-direction: column;
    padding: 15px;
}

.flip-card-back h2 {
    font-size: 1.5rem;
}

.flip-card-back p {
    font-size: 1.2rem;
    color: lightgrey;
}

.read-more {
    margin-top: 10px;
    padding: 8px 12px;
    background: lightgrey;
    color: grey;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}