.album-container-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-color: black;
}

.albumImg {
    border: grey 2px;
    text-decoration: none;
}

.album {
    display: flex;
    justify-content: center;
    list-style-type: none;
    width: 100%;
    min-height: 60vh;
    text-decoration: none;
    background-size: cover;
    background-repeat: none;
    background-image: url("../../assets/medium_Gary_O_Donnell_Album_Pic_3827a8fe75.jpg");
    background-blend-mode: multiply;
    background-color: grey;
    box-shadow: inset 0px 0px 30px 30px rgba(0, 0, 0, 0.9);
    margin-bottom: 20px;
}

.buttonsArea {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    color: antiquewhite;
    width: 100%;
}

.button {
    display: flex;
    list-style-type: none;
    justify-content: center;
    border-radius: 25px;
    align-items: center;
    height: 50px;
    width: 150px;
    border: 3px solid peru;
    box-shadow: 2px 2px 2px 2px rgba(128, 114, 102, 0.787);
    text-decoration: none !important;
}

.albumListdiv {
    padding: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-style: bold;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
 
}

.actionTitle {
    font-size: 2rem;
    color: antiquewhite;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Lucida Sans',
        'Lucida Sans Regular',
        'Lucida Grande',
        'Lucida Sans Unicode',
        Geneva,
        Verdana,
        sans-serif;
}

.button:hover {
    text-decoration: none;
    cursor: pointer;
    box-shadow: none;
}

@media (max-width: 640px) {

    .album-container-grid {

        margin-top: 100px;
        display: block;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
}