.absoluteBox {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;

}

.formOuterBox {
    width: 70%;
    height: auto;
    justify-content: center;
    border: solid peru 2px;
    border-radius: 25px;
    background-color: black;
    text-align: center;
    padding: 10px;
    margin-top: 20px;

}

.formElements {
    color: antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.formValue {
    color: antiquewhite;
}

input[type=text],
[type=email],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    z-index: 1000;
}

input[type=submit] {

    padding: 12px 20px;
    color: peru;
    z-index: 1000;

}

.reCaptcha {
    align-self: center;
}