.header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh !important;
    position: fixed;
    top: 0px;
    background-color: black;
    width: 100%;
}

.css-1jwoeim {
    justify-content: center;
}

.css-1p823my-MuiListItem-root .listItem {
    display: flex;
    justify-content: center !important;
    text-align: center !important;
    color: antiquewhite !important;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
}

.logoDiv {
    width: 100%;
    justify-content: center;
}

.logo-nav {
    display: flex;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
    text-decoration: none;

}

.nav-options {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.mobile-option {
    display: none;
}

.burger {
    display: none !important;
    color: antiquewhite;
    fill: none;
    width: 5%;
    justify-content: left !important;
}

.columnOneNav {

    display: inline-flex;
    flex-direction: row;
    padding: 20px;
    font-size: 13px;
    list-style-type: none;
    color: antiquewhite;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.option {
    color: #403434;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    padding: 5px;
}

.option-container {
    display: inline-flex;
    justify-content: right;
}

.option :hover {
    text-decoration: underline;
    color: hsl(0, 11%, 70%);
}



@media (max-width: 770px) {

    /*Mobile View */
    .header {
        display: flex;
        padding: 20px 20px;
    }

    .navOption {
        display: none;
    }

    .nav-options {
        display: flex;
        width: 100%;
        height: 100%;
        position: absolute;
        transition: all 0.5s ease;
        flex-direction: column;
        list-style-type: none;
        text-decoration: none;
        z-index: 200;
    }

    .option-container {

        padding: 0;
        margin: 0;
    }

    .burger {
        display: flex !important;
        position: fixed;
        justify-self: left;
    }

    .nav-options.active {
        display: flex;
        background-color: darkgray;
        left: 0;
        transition: all 0.3s ease;
        justify-content: flex-start;
        height: 100%;
    }

    .menu-icon {
        width: 50px;
        height: 50px;
        color: antiquewhite;
    }

    .option {
        display: flex;
        justify-content: space-evenly;
        padding: 10px;
        font-size: 35px;
    }

    .mobile-option {
        display: block;
        color: antiquewhite;
        padding: 2px;

    }

    .mobile-menu {
        display: block;
        color: antiquewhite;
        fill: none;
    }


}